node-red/flows.json
[
  {
    "id": "tab_iot",
    "type": "tab",
    "label": "Station ESP32 IoT",
    "disabled": false,
    "info": "Flux MQTT, MongoDB, InfluxDB, dashboard et commandes"
  },
  {
    "id": "ui_tab_iot",
    "type": "ui_tab",
    "name": "Station ESP32",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_sensors",
    "type": "ui_group",
    "name": "Capteurs",
    "tab": "ui_tab_iot",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_health",
    "type": "ui_group",
    "name": "Robustesse",
    "tab": "ui_tab_iot",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_cmd",
    "type": "ui_group",
    "name": "Commandes",
    "tab": "ui_tab_iot",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto local",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "node-red-iot",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "credentials": {
      "user": "iot_user",
      "password": "change_me_password"
    }
  },
  {
    "id": "mongo_cfg",
    "type": "mongodb",
    "hostname": "mongo",
    "topology": "direct",
    "connectOptions": "",
    "port": "27017",
    "db": "iot",
    "name": "MongoDB iot"
  },
  {
    "id": "mqtt_in_data",
    "type": "mqtt in",
    "z": "tab_iot",
    "name": "Données ESP32",
    "topic": "campus/+/+/data",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 80,
    "wires": [
      [
        "validate_payload"
      ]
    ]
  },
  {
    "id": "validate_payload",
    "type": "function",
    "z": "tab_iot",
    "name": "Validation payload",
    "func": "const p = msg.payload;\nif (!p || typeof p !== 'object') return null;\nif (!p.device || !p.ts || !p.data) return null;\nif (typeof p.data.temp === 'undefined' || typeof p.data.humidity === 'undefined') return null;\nmsg.payload = p;\nmsg.measurement = {\n    device: p.device,\n    ts: p.ts,\n    temp: Number(p.data.temp),\n    humidity: Number(p.data.humidity),\n    joystickPercent: Number(p.data.joystickPercent || 0),\n    wireContact: p.data.wireContact ? 1 : 0,\n    heap: Number(p.health?.heap || 0),\n    mqttLatencyMs: Number(p.health?.mqttLatencyMs || 0),\n    anomaly: p.health?.anomaly ? 1 : 0,\n    uptime: Number(p.health?.uptime || 0)\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 80,
    "wires": [
      [
        "mongodb_document",
        "to_influx_line",
        "dashboard_values",
        "debug_ok"
      ]
    ]
  },
  {
    "id": "mongodb_document",
    "type": "function",
    "z": "tab_iot",
    "name": "Document MongoDB",
    "func": "msg.payload = {\n    device: msg.measurement.device,\n    ts: new Date(msg.measurement.ts * 1000),\n    data: msg.payload.data,\n    health: msg.payload.health || {}\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 40,
    "wires": [
      [
        "mongo_out"
      ]
    ]
  },
  {
    "id": "mongo_out",
    "type": "mongodb out",
    "z": "tab_iot",
    "mongodb": "mongo_cfg",
    "name": "Stockage NoSQL",
    "collection": "telemetry",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "insert",
    "x": 880,
    "y": 40,
    "wires": []
  },
  {
    "id": "to_influx_line",
    "type": "function",
    "z": "tab_iot",
    "name": "Line protocol InfluxDB",
    "func": "const m = msg.measurement;\nconst fields = [\n  `temp=${m.temp}`,\n  `humidity=${m.humidity}`,\n  `joystickPercent=${m.joystickPercent}i`,\n  `wireContact=${m.wireContact}i`,\n  `heap=${m.heap}i`,\n  `mqttLatencyMs=${m.mqttLatencyMs}i`,\n  `anomaly=${m.anomaly}i`,\n  `uptime=${m.uptime}i`\n].join(',');\nmsg.payload = `station,device=${m.device} ${fields} ${m.ts}`;\nmsg.headers = {\n    'Authorization': 'Token dev-token-change-me',\n    'Content-Type': 'text/plain; charset=utf-8'\n};\nmsg.url = 'http://influxdb:8086/api/v2/write?org=iot&bucket=esp32&precision=s';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 100,
    "wires": [
      [
        "http_influx"
      ]
    ]
  },
  {
    "id": "http_influx",
    "type": "http request",
    "z": "tab_iot",
    "name": "Ecrire InfluxDB",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 910,
    "y": 100,
    "wires": [
      [
        "debug_influx"
      ]
    ]
  },
  {
    "id": "dashboard_values",
    "type": "function",
    "z": "tab_iot",
    "name": "Valeurs dashboard",
    "func": "const m = msg.measurement;\nreturn [\n  { payload: m.temp, topic: 'temp' },\n  { payload: m.humidity, topic: 'humidity' },\n  { payload: m.joystickPercent, topic: 'joystick' },\n  { payload: m.wireContact ? 'APPUYE' : 'RELACHE', topic: 'wireContact' },\n  { payload: m.heap, topic: 'heap' },\n  { payload: m.mqttLatencyMs, topic: 'latency' },\n  { payload: m.anomaly ? 'ANOMALIE' : 'OK', topic: 'anomaly' }\n];",
    "outputs": 7,
    "noerr": 0,
    "x": 640,
    "y": 180,
    "wires": [
      [
        "ui_temp",
        "ui_chart_temp"
      ],
      [
        "ui_humidity"
      ],
      [
        "ui_joystick"
      ],
      [
        "ui_wire_contact"
      ],
      [
        "ui_heap"
      ],
      [
        "ui_latency"
      ],
      [
        "ui_anomaly"
      ]
    ]
  },
  {
    "id": "ui_temp",
    "type": "ui_gauge",
    "z": "tab_iot",
    "name": "Température",
    "group": "ui_group_sensors",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Température",
    "label": "°C",
    "format": "{{value}}",
    "min": "-10",
    "max": "60",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 900,
    "y": 160,
    "wires": []
  },
  {
    "id": "ui_humidity",
    "type": "ui_gauge",
    "z": "tab_iot",
    "name": "Humidité",
    "group": "ui_group_sensors",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Humidité",
    "label": "%",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 900,
    "y": 200,
    "wires": []
  },
  {
    "id": "ui_joystick",
    "type": "ui_gauge",
    "z": "tab_iot",
    "name": "Joystick",
    "group": "ui_group_sensors",
    "order": 3,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Joystick",
    "label": "%",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 910,
    "y": 240,
    "wires": []
  },
  {
    "id": "ui_wire_contact",
    "type": "ui_text",
    "z": "tab_iot",
    "group": "ui_group_sensors",
    "order": 4,
    "width": 4,
    "height": 2,
    "name": "Bouton poussoir",
    "label": "Bouton poussoir",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 920,
    "y": 280,
    "wires": []
  },
  {
    "id": "ui_chart_temp",
    "type": "ui_chart",
    "z": "tab_iot",
    "name": "Température historique",
    "group": "ui_group_sensors",
    "order": 5,
    "width": 12,
    "height": 4,
    "label": "Température",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "En attente",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "30",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e"
    ],
    "outputs": 1,
    "x": 930,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "ui_heap",
    "type": "ui_gauge",
    "z": "tab_iot",
    "name": "Heap libre",
    "group": "ui_group_health",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Heap libre",
    "label": "octets",
    "format": "{{value}}",
    "min": "0",
    "max": "300000",
    "colors": [
      "#ca3838",
      "#e6e600",
      "#00b500"
    ],
    "seg1": "",
    "seg2": "",
    "x": 890,
    "y": 320,
    "wires": []
  },
  {
    "id": "ui_latency",
    "type": "ui_gauge",
    "z": "tab_iot",
    "name": "Latence MQTT",
    "group": "ui_group_health",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Latence MQTT",
    "label": "ms",
    "format": "{{value}}",
    "min": "0",
    "max": "2000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 900,
    "y": 360,
    "wires": []
  },
  {
    "id": "ui_anomaly",
    "type": "ui_text",
    "z": "tab_iot",
    "group": "ui_group_health",
    "order": 3,
    "width": 4,
    "height": 1,
    "name": "Anomalie",
    "label": "Etat capteur",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 890,
    "y": 400,
    "wires": []
  },
  {
    "id": "inject_cmd",
    "type": "inject",
    "z": "tab_iot",
    "name": "Commande demo LED blanche + servo",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "campus/groupe1/ESP32-X/cmd",
    "payload": "{\"apiToken\":\"changeme-local-api\",\"led\":{\"enabled\":true,\"brightness\":180},\"servo\":{\"angle\":90}}",
    "payloadType": "json",
    "x": 190,
    "y": 500,
    "wires": [
      [
        "mqtt_out_cmd"
      ]
    ]
  },
  {
    "id": "ui_button_cmd",
    "type": "ui_button",
    "z": "tab_iot",
    "name": "Demo LED blanche",
    "group": "ui_group_cmd",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "LED blanche + servo 90",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "{\"apiToken\":\"changeme-local-api\",\"led\":{\"enabled\":true,\"brightness\":180},\"servo\":{\"angle\":90}}",
    "payloadType": "json",
    "topic": "campus/groupe1/ESP32-X/cmd",
    "topicType": "str",
    "x": 170,
    "y": 560,
    "wires": [
      [
        "mqtt_out_cmd"
      ]
    ]
  },
  {
    "id": "mqtt_out_cmd",
    "type": "mqtt out",
    "z": "tab_iot",
    "name": "Commande MQTT",
    "topic": "",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 470,
    "y": 530,
    "wires": []
  },
  {
    "id": "debug_ok",
    "type": "debug",
    "z": "tab_iot",
    "name": "Payload valide",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 650,
    "y": 260,
    "wires": []
  },
  {
    "id": "debug_influx",
    "type": "debug",
    "z": "tab_iot",
    "name": "Réponse InfluxDB",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1130,
    "y": 100,
    "wires": []
  }
]

